body {
  margin: 0;
  font-family: 'Montserrat';
}
.start {
  width: 100%;
  background: url(../images/start\ background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.start .topnav {
  width: 100%;
  height: 80px;
  background-color: transparent;
  border-bottom: #3E3F51 solid 1px;
}
.start .topnav .topnavWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
}
.start .topnav .topnavWrapper .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.start .topnav .topnavWrapper .logo img {
  width: 73px;
  height: 31px;
}
.start .topnav .topnavWrapper .logo p {
  margin-left: 18px;
  color: #BCBEC0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 13px;
  width: 72px;
  height: 43px;
  text-transform: uppercase;
}
.start .topnav .topnavWrapper .navLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}
.start .topnav .topnavWrapper .navLinks a {
  color: #ffffff;
  float: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  margin: 0 30px;
}
.start .topnav .topnavWrapper .navLinks a.active {
  border-bottom: #ED2985 solid 2px;
  color: #ED2985;
  line-height: 78px;
}
.start .topnav .topnavWrapper .navLinks ul {
  position: relative;
  margin: 0px;
  padding: 0px;
  list-style: none;
  height: 80px;
}
.start .topnav .topnavWrapper .navLinks ul li:hover > ul {
  display: inherit;
}
.start .topnav .topnavWrapper .navLinks ul li {
  display: inline-block;
}
.start .topnav .topnavWrapper .navLinks ul ul {
  display: none;
  position: absolute;
  top: 75px;
  right: -30px;
  list-style: none;
}
.start .topnav .topnavWrapper .navLinks ul ul li {
  min-width: 170px;
  float: none;
  display: list-item;
  position: relative;
  color: #ffffff;
}
.start .topnav .topnavWrapper .navLinks ul ul li a {
  background-color: #ffffff;
  color: #000000;
  width: 195px;
  height: 49px;
  font-size: 14px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: center;
}
.start .topnav .topnavWrapper .navLinks ul ul li:hover a {
  color: #ED2985;
}
.start .topnav .topnavWrapper .navLinks ul ul li:hover .tooltip {
  display: inherit;
}
.start .topnav .topnavWrapper .navLinks .navLink:hover {
  border-bottom: #ED2985 solid 2px;
  color: #ED2985;
  font-weight: 400;
  line-height: 78px;
}
.start .topnav .topnavWrapper .mobileMenu {
  display: none;
  flex-direction: column;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 40px;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 40px;
}
.start .topnav .topnavWrapper .mobileMenu .mobileMenuBtn {
  background-color: #ed2985;
  height: 3px;
  transition: all 0.3s ease-in;
  width: 30px;
  outline: none;
  margin-bottom: 6px;
}
.start .startContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 920px;
  justify-content: center;
  margin: auto;
  padding: 0 100px;
  width: 900px;
}
.start .startContent h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 500;
  line-height: 85px;
  text-align: center;
  text-transform: uppercase;
  margin-block-start: 0px;
  margin-block-end: 0px;
  z-index: 2;
}
.start .startContent .startWrapper {
  display: flex;
  flex-direction: row;
  color: #BCBEC0;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
}
.start .startContent .startWrapper p {
  height: 145px;
  width: 479px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: left;
  font-size: 16px;
  line-height: 29px;
  margin-right: 235px;
}
.start .startContent .startWrapper a {
  text-align: center;
  width: 257px;
  height: 55px;
  color: #ffffff;
  background-color: #ED2985;
  line-height: 55px;
  text-decoration: none;
  text-transform: capitalize;
}
.asd {
  background-color: #ffffff;
  width: 100%;
  color: #242539;
}
.asd .asdContainer {
  padding: 160px 0px;
  width: 1170px;
  margin: 0 auto;
}
.asd .asdContainer h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 85px;
  margin: 0px;
  margin-bottom: 45px;
}
.asd .asdContainer .asdWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.asd .asdContainer .asdWrapper .asdContent {
  display: flex;
  flex-direction: column;
  align-self: start;
  margin-top: 35px;
}
.asd .asdContainer .asdWrapper .asdContent .asdSubContent {
  display: flex;
  flex-direction: row;
  margin-bottom: 90px;
}
.asd .asdContainer .asdWrapper .asdContent .asdSubContent p {
  width: 470px;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 51px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.asd .asdContainer .asdWrapper .asdContent .asdSubContent h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 49px;
  width: 49px;
  letter-spacing: 0px;
  text-align: left;
  color: #ED2985;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.asd .asdContainer .asdWrapper .asdContent a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 55px;
  height: 55px;
  width: 257px;
  margin-left: 100px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #242539;
  box-sizing: border-box;
}
.asd .asdContainer .asdWrapper .asdContent a:hover {
  background-color: #ED2985;
  color: #ffffff;
  border: none;
}
.travel {
  width: 100%;
  background-color: #242539;
  color: #ffffff;
}
.travel .travelWrapper {
  display: flex;
  flex-direction: row;
  width: 1170px;
  margin: 0 auto;
}
.travel .travelWrapper .travelContent {
  display: flex;
  flex-direction: column;
  padding: 190px 0px;
  z-index: 10;
}
.travel .travelWrapper .travelContent .travelHeader {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.travel .travelWrapper .travelContent .travelHeader p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-left: 20px;
  width: 167px;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  text-transform: uppercase;
}
.travel .travelWrapper .travelContent .travelHeader .travelHeaderLine {
  width: 50px;
  height: 1px;
  background-color: #ED2985;
}
.travel .travelWrapper .travelContent h2 {
  z-index: 10;
  font-size: 70px;
  width: 664px;
  font-weight: 400;
  font-style: normal;
  line-height: 85.33px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.travel .travelWrapper .travelContent .travelContext {
  width: 632px;
  font-size: 18px;
  z-index: 10;
  margin-bottom: 60px;
}
.travel .travelWrapper .travelContent .travelContext p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.travel .travelWrapper .travelContent a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 55px;
  width: 258px;
  text-align: center;
  mix-blend-mode: normal;
  border: 1px solid #3E3F51;
  box-sizing: border-box;
}
.travel .travelWrapper .travelContent a:hover {
  background-color: #ffffff;
  color: #000000;
  border: transparent;
  height: 57px;
}
.travel .travelBGWrapper {
  width: 1025px;
  height: 757px;
  position: absolute;
  right: 0px;
  transform: translate(0%, -100%);
  background: url(../images/travelBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}
.partners {
  width: 100%;
  background-color: #ffffff;
}
.partners .partnersWrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 160px 0px;
}
.partners .partnersWrapper .partnersHeader {
  font-size: 70px;
  font-style: normal;
  font-weight: normal;
  line-height: 85px;
  color: #242539;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 140px;
}
.partners .partnersWrapper .partnersLogos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.clients {
  width: 100%;
  background-color: #F3F3F5;
}
.clients .clientsWrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 160px 0px;
}
.clients .clientsWrapper .clientHeader {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 70px;
  color: #242539;
  font-style: normal;
  font-weight: normal;
  line-height: 85px;
  margin-bottom: 45px;
}
.clients .clientsWrapper .clientNavPointers {
  display: none;
}
.clients .clientsWrapper .clientNavPointers button {
  padding: 0px;
  width: 69px;
  background-color: #F3F3F5;
  height: 69px;
  border: 1px solid #dadada;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
}
.clients .clientsWrapper .clientNavPointers button:hover {
  background-color: #ED2985;
}
.clients .clientsWrapper .clientContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 170px;
  margin-bottom: 170px;
}
.clients .clientsWrapper .clientContent .clientContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.clients .clientsWrapper .clientContent .clientContentWrapper .clientInfo {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.clients .clientsWrapper .clientContent .clientContentWrapper .clientInfo h3 {
  width: 127px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.clients .clientsWrapper .clientContent .clientContentWrapper .clientInfo p {
  width: 129px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}
.clients .clientsWrapper .clientContent p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  width: 800px;
  color: #242539;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  line-height: 44px;
}
.clients .clientsWrapper .clientsNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.clients .clientsWrapper .clientsNav .clientNavPointers {
  display: block;
}
.clients .clientsWrapper .clientsNav .clientNavRectangles {
  display: flex;
  flex-direction: row;
  margin-left: 72px;
}
.clients .clientsWrapper .clientsNav .clientNavRectangles .rectangle {
  width: 29px;
  height: 3px;
  background-color: #DADADA;
  margin-right: 13px;
}
.clients .clientsWrapper .clientsNav .clientNavRectangles .active {
  background-color: #ED2985;
}
.featured {
  width: 100%;
  background-color: #ffffff;
}
.featured .featuredWrapper {
  width: 1170px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 160px 0px;
}
.featured .featuredWrapper .featuredHeader {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 70px;
  color: #242539;
  font-style: normal;
  font-weight: normal;
  line-height: 85px;
  margin-bottom: 45px;
}
.featured .featuredWrapper .featuredContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.featured .featuredWrapper .featuredContent .featuredContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 60px;
  width: 570px;
}
.featured .featuredWrapper .featuredContent .featuredContentWrapper .label {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 101px;
  height: 30px;
  background-color: #F3F3F5;
  text-align: center;
  line-height: 30px;
  color: #676774;
  font-size: 12px;
}
.featured .featuredWrapper .featuredContent .featuredContentWrapper h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 26px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 13px;
  text-transform: uppercase;
}
.featured .featuredWrapper .featuredContent .featuredContentWrapper p {
  font-style: normal;
  width: 464px;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.featured .featuredWrapper .featuredLink {
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  color: #242539;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 55px;
  height: 55px;
  width: 257px;
  background: #ffffff;
  border: 1px solid #242539;
  box-sizing: border-box;
}
.featured .featuredWrapper .featuredLink:hover {
  background-color: #ED2985;
  color: #ffffff;
  border: none;
}
.awards {
  width: 100%;
  background-color: #F3F3F5;
}
.awards .awardsWrapper {
  display: flex;
  flex-direction: row;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 160px;
}
.awards .awardsWrapper h2 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 50px;
  color: #242539;
  font-style: normal;
  font-weight: normal;
  line-height: 61px;
}
.awards .awardsWrapper .awardsIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.awards .awardsWrapper .awardsIcons .awardsIco {
  margin: 0 55px;
}
.services {
  width: 100%;
  background-color: #ffffff;
}
.services .servicesWrapper {
  width: 1170px;
  height: 760px;
  margin: 0 auto;
  padding: 160px 0px;
}
.services .servicesWrapper h2 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 70px;
  line-height: 85px;
  font-weight: 400;
  margin-bottom: 120px;
}
.services .servicesWrapper .servicesContent {
  display: flex;
  flex-direction: column;
  width: 335px;
}
.services .servicesWrapper .servicesContent .servicesContentExample {
  margin-bottom: 35px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 26px;
  width: 905px;
}
.services .servicesWrapper .servicesContent .servicesContentExample a {
  text-transform: uppercase;
  margin-block-start: 0px;
  text-decoration: none;
  margin-block-end: 0px;
  font-size: 22px;
  line-height: 26px;
  cursor: pointer;
}
.services .servicesWrapper .servicesContent .servicesContentExample .servicesActive {
  border-bottom: #ED2985 solid 3px;
  line-height: 36px;
  padding-bottom: 10px;
}
.services .servicesWrapper .servicesContent .servicesContentExample .servicesActiveImg {
  position: relative;
  left: 462px;
  bottom: 650px;
}
.services .servicesWrapper .servicesContent .servicesContentExample .servicesActiveContent {
  position: relative;
  left: 762px;
  z-index: 10;
  margin-block-start: 0px;
  margin-block-end: 0px;
  background-color: #ffffff;
  padding-right: 24px;
  padding-left: 50px;
  padding-top: 64px;
  padding-bottom: 64px;
  width: 283px;
  font-size: 18px;
  line-height: 29px;
  color: #242539;
}
.services .servicesWrapper .servicesLink {
  text-decoration: none;
  color: #242539;
  font-size: 16px;
  font-weight: 600;
  line-height: 55px;
  height: 55px;
  width: 257px;
  margin-top: 100px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #242539;
  box-sizing: border-box;
}
.services .servicesWrapper .servicesLink:hover {
  background-color: #ED2985;
  color: #ffffff;
  border: none;
}
.footer {
  width: 100%;
  background-color: #121221;
  color: #ffffff;
}
.footer .tellUs {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.footer .tellUs h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 85px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 45px;
}
.footer .tellUs .tellUsContent {
  display: flex;
  flex-direction: row;
}
.footer .tellUs .tellUsContent .tellUsInfo {
  display: flex;
  flex-direction: column;
}
.footer .tellUs .tellUsContent .tellUsInfo p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  line-height: 29px;
  font-size: 18px;
}
.footer .tellUs .tellUsContent .tellUsInfo .dontLikeHide {
  display: block;
}
.footer .tellUs .tellUsContent .tellUsInfo .dontLikeHide h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 72px;
  font-size: 24px;
  margin-bottom: 6px;
  line-height: 44px;
}
.footer .tellUs .tellUsContent .tellUsInfo .dontLikeHide p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.footer .tellUs .tellUsContent .tellUsInfo .dontLikeHide .contactUs {
  width: 254px;
  height: 54px;
}
.footer .tellUs .tellUsContent .tellUsInfo .dontLikeHide .contactUs a {
  color: #ED2985;
}
.footer .tellUs .tellUsContent .tellUsForm {
  display: flex;
  flex-direction: column;
}
.footer .tellUs .tellUsContent .tellUsForm .contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .tellUs .tellUsContent .tellUsForm .contactInfo .input {
  background-color: #1e1e2c;
  border: none;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 23px;
  margin-bottom: 30px;
  padding: 22px 20px;
  transition: all 0.1s ease-in;
  width: 230px;
}
.footer .tellUs .tellUsContent .tellUsForm .contactInfo .input:focus {
  outline: none;
  border-bottom: #ED2985 solid 2px;
}
.footer .tellUs .tellUsContent .tellUsForm .input_textarea {
  background-color: #1e1e2c;
  border: none;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 183px;
  padding: 22px 20px;
  resize: none;
  width: 530px;
}
.footer .tellUs .tellUsContent .tellUsForm .input_textarea:focus {
  outline: none;
  border-bottom: #ED2985 solid 2px;
}
.footer .tellUs .tellUsContent .tellUsForm .submit {
  color: #ffffff;
  background-color: #ED2985;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  vertical-align: baseline;
  height: 55px;
  width: 257px;
  text-align: center;
  margin-top: 40px;
}
.footer .tellUs .tellUsContent .dontLikeHide {
  display: none;
}
.footer .tellUs .tellUsContent .dontLikeHide h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 72px;
  font-size: 24px;
  margin-bottom: 6px;
  line-height: 44px;
}
.footer .tellUs .tellUsContent .dontLikeHide .contactUs {
  width: 254px;
  height: 54px;
}
.footer .tellUs .tellUsContent .dontLikeHide .contactUs a {
  color: #ED2985;
}
.footer .tellUs .tellUsContent .dontLikeHide .contactUs p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.footer .footerContent {
  width: 100%;
  border-top: 1px solid #3E3F51;
  border-bottom: 1px solid #3E3F51;
  padding-top: 110px;
}
.footer .footerContent .footerContentWrapper {
  margin: 0 auto;
  width: 1170px;
}
.footer .footerContent .footerContentWrapper .footerNav .navsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.footer .footerContent .footerContentWrapper .footerNav .navsWrapper .logo {
  margin-right: 100px;
}
.footer .footerContent .footerContentWrapper .footerNav .navsWrapper ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer .footerContent .footerContentWrapper .footerNav .navsWrapper li {
  margin-bottom: 25px;
}
.footer .footerContent .footerContentWrapper .footerNav .navsWrapper h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 40px;
}
.footer .footerContent .footerContentWrapper .footerNav .navsWrapper a {
  text-decoration: none;
  color: #676774;
}
.footer .footerContent .footerContentWrapper .footerNav .navsWrapper a:hover {
  color: #ED2985;
}
.footer .footerContent .footerContentWrapper .footerNav .navsWrapper .socialLinksContainerMobile {
  display: none;
}
.footer .footerContent .footerContentWrapper .footerNav .navsWrapper .socialLinksContainerMobile .socialLink {
  background: #1E1E2C;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  height: 45px;
  margin: 0 5px;
  width: 45px;
}
.footer .footerContent .footerContentWrapper .footerNav .navsWrapper .socialLinksContainerMobile .socialLink:hover {
  background-color: #ED2985;
}
.footer .footerContent .footerContentWrapper .footerNav .navsWrapper .socialLinksContainer {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.footer .footerContent .footerContentWrapper .footerNav .navsWrapper .socialLinksContainer .socialLink {
  background: #1E1E2C;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  height: 65px;
  margin: 0 10px;
  width: 65px;
}
.footer .footerContent .footerContentWrapper .footerNav .navsWrapper .socialLinksContainer .socialLink:hover {
  background-color: #ED2985;
}
.footer .footerContent .footerContentWrapper .latestInBlog {
  margin-top: 45px;
}
.footer .footerContent .footerContentWrapper .latestInBlog h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
}
.footer .footerContent .footerContentWrapper .latestInBlog .latestSlider {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 150px;
  align-items: center;
  gap: 38px;
}
.footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .blogCalendar {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 585px;
}
.footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .blogCalendar .date {
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-weight: 600;
  height: 49px;
  justify-content: center;
  line-height: 25px;
  margin-right: 15px;
  width: 47px;
  text-align: center;
}
.footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .blogCalendar .date .data {
  font-size: 25px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: -6px;
  padding-top: 6px;
}
.footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .blogCalendar .date .month {
  font-size: 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  letter-spacing: 3px;
  margin-bottom: -6px;
  padding-bottom: 6px;
  text-transform: uppercase;
}
.footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .blogCalendar a {
  text-decoration: none;
  color: #ffffff;
  width: 400px;
  font-size: 16px;
  line-height: 24px;
}
.footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .blogCalendar:hover .date {
  background-color: #ED2985;
}
.footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .blogCalendar:hover .date:hover {
  cursor: pointer;
}
.footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .blogCalendar:hover a {
  color: #ED2985;
}
.footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .SliderButtonLeft {
  left: 0;
  background-image: url(../images/pointers/arrowLeft.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #121221;
  height: 31px;
  width: 15px;
  z-index: 1;
  border: 1px solid transparent;
  margin-right: 47px;
  cursor: pointer;
}
.footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .SliderButtonRight {
  left: 0;
  background-image: url(../images/pointers/arrowRight.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #121221;
  height: 31px;
  width: 15px;
  z-index: 1;
  border: 1px solid transparent;
  margin-left: 47px;
  cursor: pointer;
}
.footer .footerContent .footerContentWrapper .NavRectangles {
  display: none;
  flex-direction: row;
  margin-left: 72px;
}
.footer .footerContent .footerContentWrapper .NavRectangles .rectangle {
  width: 29px;
  height: 3px;
  background-color: #DADADA;
  margin-right: 13px;
}
.footer .footerContent .footerContentWrapper .NavRectangles .active {
  background-color: #ED2985;
}
.Copyright {
  color: #676774;
  background-color: #121221;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  justify-content: center;
  padding: 35px 0;
}
@media (min-width: 768px) and (max-width: 1269px) {
  .start .topnav .topnavWrapper {
    width: 700px;
  }
  .start .topnav .topnavWrapper .logo {
    align-items: center;
  }
  .start .topnav .topnavWrapper .logo img {
    width: 65px;
  }
  .start .topnav .topnavWrapper .logo p {
    margin-right: 20px;
  }
  .start .topnav .topnavWrapper .navLinks {
    justify-content: space-between;
    width: 100%;
  }
  .start .topnav .topnavWrapper .navLinks a {
    margin: 0px;
    font-size: 12px;
  }
  .start .topnav .topnavWrapper .navLinks ul li a {
    margin: 0px;
  }
  .start .startContent {
    height: 670px;
    padding: 65px 0px;
    width: 700px;
  }
  .start .startContent h1 {
    font-size: 50px;
    line-height: 50px;
  }
  .start .startContent .startWrapper p {
    margin-right: 50px !important;
    width: 365px;
  }
  .asd .asdContainer {
    width: 700px;
    padding: 70px 10px;
  }
  .asd .asdContainer h2 {
    font-size: 50px;
    line-height: 58px;
  }
  .asd .asdContainer .asdWrapper .asdContent .asdSubContent {
    margin-bottom: 35px;
  }
  .asd .asdContainer .asdWrapper .asdContent .asdSubContent p {
    margin-left: 15px;
    width: 250px;
  }
  .asd .asdContainer .asdWrapper .asdContent .asdSubContent h3 {
    font-size: 30px;
  }
  .asd .asdContainer .asdWrapper .asdContent a {
    margin-top: 55px;
  }
  .asd .asdContainer .asdWrapper .asdImage {
    height: 500px;
    width: 325px;
  }
  .travel .travelWrapper {
    width: 700px;
    padding: 70px 10px;
  }
  .travel .travelWrapper .travelContent {
    padding: 20px 0px;
  }
  .travel .travelWrapper .travelContent h2 {
    font-size: 50px;
    line-height: 58px;
  }
  .travel .travelWrapper .travelContent .travelContext {
    margin-bottom: 30px;
  }
  .travel .travelBGWrapper {
    height: 500px;
    width: 50%;
  }
  .partners .partnersWrapper {
    width: 700px;
    padding: 70px 10px;
  }
  .partners .partnersWrapper .partnersHeader {
    font-size: 50px;
    line-height: 58px;
    margin-bottom: 45px;
  }
  .partners .partnersWrapper .partnersLogos {
    flex-wrap: wrap;
  }
  .clients .clientsWrapper {
    width: 700px;
    padding: 70px 10px;
  }
  .clients .clientsWrapper .clientHeader {
    font-size: 50px;
    line-height: 58px;
  }
  .clients .clientsWrapper .clientNavPointers button {
    width: 55px;
    height: 55px;
  }
  .clients .clientsWrapper .clientContent {
    height: 300px;
    margin-top: 50px !important;
    margin-bottom: 30px !important;
    width: 700px;
  }
  .clients .clientsWrapper .clientContent p {
    font-size: 16px;
    line-height: 37px;
    width: 500px;
  }
  .featured .featuredWrapper {
    width: 700px;
    padding: 70px 10px;
  }
  .featured .featuredWrapper .featuredHeader {
    font-size: 50px;
    line-height: 58px;
  }
  .featured .featuredWrapper .featuredImg {
    height: 300px;
    max-width: 320px;
  }
  .featured .featuredWrapper .featuredContent {
    width: 700px;
  }
  .featured .featuredWrapper .featuredContent .featuredContentWrapper {
    width: 320px;
  }
  .featured .featuredWrapper .featuredContent .featuredContentWrapper p {
    width: 320px;
  }
  .awards .awardsWrapper {
    width: 700px;
    padding: 70px 10px;
  }
  .awards .awardsWrapper h2 {
    font-size: 50px;
    line-height: 58px;
  }
  .awards .awardsWrapper .awardsIcons .awardsIco {
    margin: 0px 25px;
  }
  .services .servicesWrapper {
    width: 700px;
    padding: 70px 10px;
    height: 500px;
  }
  .services .servicesWrapper h2 {
    font-size: 50px;
    line-height: 58px;
    margin-bottom: 60px;
  }
  .services .servicesWrapper .servicesContent .servicesContentExample a {
    font-size: 18px;
  }
  .services .servicesWrapper .servicesContent .servicesContentExample .servicesActiveImg {
    height: 500px;
    left: 290px;
    bottom: 500px;
  }
  .services .servicesWrapper .servicesContent .servicesContentExample .servicesActiveContent {
    left: 490px;
    bottom: 30px;
    width: 200px;
    font-size: 13px;
    padding: 30px;
  }
  .services .servicesWrapper .servicesLink {
    margin-top: 25px;
  }
  .footer .tellUs {
    width: 700px;
    padding: 70px 10px;
  }
  .footer .tellUs h2 {
    font-size: 50px;
    line-height: 58px;
  }
  .footer .tellUs .tellUsContent {
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer .tellUs .tellUsContent .tellUsInfo p {
    font-size: 16px;
  }
  .footer .tellUs .tellUsContent .tellUsInfo .dontLikeHide {
    display: none !important;
  }
  .footer .tellUs .tellUsContent .tellUsForm {
    margin-top: 50px;
  }
  .footer .tellUs .tellUsContent .tellUsForm .input_textarea {
    width: 660px;
  }
  .footer .tellUs .tellUsContent .dontLikeHide {
    display: block;
  }
  .footer .tellUs .tellUsContent .dontLikeHide h4 {
    margin-top: 50px;
  }
  .footer .footerContent {
    padding: 0 !important;
  }
  .footer .footerContent .footerContentWrapper {
    padding: 70px 10px;
    width: 700px;
  }
  .footer .footerContent .footerContentWrapper .footerNav .navsWrapper .logo {
    margin-right: 10px;
  }
  .footer .footerContent .footerContentWrapper .footerNav .navsWrapper .socialLinksContainer {
    right: 0px;
  }
  .footer .footerContent .footerContentWrapper .footerNav .navsWrapper .navMenu2 {
    width: 210px;
    margin-left: 10px;
  }
  .footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .blogCalendar {
    width: 350px;
  }
  .footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .blogCalendar a {
    font-size: 12px;
    line-height: 18px;
    width: 200px;
  }
  .footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .SliderButtonLeft {
    margin-right: 0px;
  }
  .footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .SliderButtonRight {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .start .topnav {
    height: 75px;
  }
  .start .topnav .topnavWrapper {
    width: 100%;
    padding-left: 20px;
    height: 75px;
  }
  .start .topnav .topnavWrapper .navLinks {
    display: none;
  }
  .start .topnav .topnavWrapper .mobileMenu {
    display: flex;
    position: absolute;
    right: 40px;
  }
  .start .startContent {
    height: auto;
    padding: 65px 20px;
    max-width: 540px;
    width: auto;
  }
  .start .startContent h1 {
    font-size: 27px;
    line-height: 33px;
  }
  .start .startContent .startWrapper {
    flex-direction: column;
    margin-top: 30px;
  }
  .start .startContent .startWrapper p {
    margin-right: 0px !important;
    width: 335px;
    height: auto;
    margin-bottom: 50px;
    text-align: center;
  }
  .start .startContent .startWrapper a {
    height: auto;
  }
  .asd .asdContainer {
    width: auto;
    max-width: 540px;
    padding: 70px 20px;
  }
  .asd .asdContainer h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .asd .asdContainer .asdWrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .asd .asdContainer .asdWrapper .asdContent {
    align-self: center;
  }
  .asd .asdContainer .asdWrapper .asdContent .asdSubContent {
    margin-bottom: 35px;
  }
  .asd .asdContainer .asdWrapper .asdContent .asdSubContent p {
    margin-left: 15px;
    width: 250px;
  }
  .asd .asdContainer .asdWrapper .asdContent .asdSubContent h3 {
    font-size: 30px;
  }
  .asd .asdContainer .asdWrapper .asdContent a {
    margin-top: 15px;
    margin-left: 0px;
    align-self: center;
  }
  .asd .asdContainer .asdWrapper .asdImage {
    height: 502px;
    width: 335px;
  }
  .travel .travelWrapper {
    width: auto;
    max-width: 540px;
    padding: 70px 20px;
    flex-direction: column;
  }
  .travel .travelWrapper .travelContent {
    padding: 20px 0px;
  }
  .travel .travelWrapper .travelContent h2 {
    margin-top: 15px;
    font-size: 40px;
    line-height: 49px;
    width: auto;
  }
  .travel .travelWrapper .travelContent .travelContext {
    margin-bottom: 30px;
    width: auto;
  }
  .travel .travelWrapper .travelContent .travelContext p {
    font-size: 16px;
    line-height: 27px;
  }
  .travel .travelBGWrapper {
    position: static;
    height: 500px;
    width: 100%;
    transform: translate(0%, 0%);
  }
  .partners .partnersWrapper {
    max-width: 540px;
    padding: 70px 20px;
    width: auto;
  }
  .partners .partnersWrapper .partnersHeader {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 45px;
  }
  .partners .partnersWrapper .partnersLogos {
    flex-wrap: wrap;
  }
  .partners .partnersWrapper .partnersLogos .partnersLogosImg1 {
    width: 154px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .partners .partnersWrapper .partnersLogos .partnersLogosImg2 {
    width: 147px;
    margin-bottom: 30px;
  }
  .partners .partnersWrapper .partnersLogos .partnersLogosImg3 {
    width: 58px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .partners .partnersWrapper .partnersLogos .partnersLogosImg4 {
    width: 234px;
    margin-bottom: 30px;
  }
  .clients .clientsWrapper {
    width: auto;
    max-width: 540px;
    padding: 70px 20px;
  }
  .clients .clientsWrapper .clientHeader {
    font-size: 40px;
    line-height: 49px;
  }
  .clients .clientsWrapper .clientNavPointers {
    display: block;
  }
  .clients .clientsWrapper .clientNavPointers button {
    width: 55px;
    height: 55px;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .clients .clientsWrapper .clientsNav {
    justify-content: start;
  }
  .clients .clientsWrapper .clientsNav .clientNavPointers {
    display: none;
  }
  .clients .clientsWrapper .clientsNav .clientNavRectangles {
    margin: 0px;
  }
  .clients .clientsWrapper .clientContent {
    height: auto;
    margin-top: 40px !important;
    margin-bottom: 30px !important;
    flex-direction: column-reverse;
  }
  .clients .clientsWrapper .clientContent p {
    font-size: 16px;
    line-height: 37px;
    width: auto;
    margin-bottom: 40px;
  }
  .clients .clientsWrapper .clientContent .clientContentWrapper {
    flex-direction: row;
    align-items: center;
  }
  .clients .clientsWrapper .clientContent .clientContentWrapper img {
    margin-right: 20px;
  }
  .clients .clientsWrapper .clientContent .clientContentWrapper .clientInfo {
    margin-top: 0px;
  }
  .featured .featuredWrapper {
    width: auto;
    max-width: 540px;
    padding: 70px 20px;
  }
  .featured .featuredWrapper .featuredHeader {
    font-size: 40px;
    line-height: 49px;
  }
  .featured .featuredWrapper .featuredImg {
    height: 300px;
    width: auto;
  }
  .featured .featuredWrapper .featuredContent {
    width: auto;
    justify-content: center;
  }
  .featured .featuredWrapper .featuredContent .featuredContentWrapper {
    width: auto;
  }
  .featured .featuredWrapper .featuredContent .featuredContentWrapper p {
    width: 320px;
  }
  .featured .featuredWrapper .featuredContent .featuredContentWrapper h3 {
    width: 320px;
  }
  .awards .awardsWrapper {
    width: auto;
    max-width: 540px;
    padding: 70px 20px;
    flex-wrap: wrap;
  }
  .awards .awardsWrapper h2 {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 46px;
  }
  .awards .awardsWrapper .awardsIcons {
    width: 100%;
    justify-content: space-between;
  }
  .awards .awardsWrapper .awardsIcons .awardsIco {
    margin: 0px 15px;
    width: 75px;
    height: 80px;
  }
  .services .servicesWrapper {
    width: auto;
    max-width: 540px;
    padding: 70px 20px;
    height: auto;
  }
  .services .servicesWrapper h2 {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 60px;
  }
  .services .servicesWrapper .servicesContent {
    width: auto;
    align-items: center;
  }
  .services .servicesWrapper .servicesContent .servicesContentExample {
    width: 335px;
    height: auto;
  }
  .services .servicesWrapper .servicesContent .servicesContentExample a {
    font-size: 18px;
  }
  .services .servicesWrapper .servicesContent .servicesContentExample .servicesActiveImg {
    position: static;
    width: 335px;
    height: 280px;
  }
  .services .servicesWrapper .servicesContent .servicesContentExample .servicesActiveContent {
    position: static;
    padding: 0px;
    width: 335px;
  }
  .services .servicesWrapper .servicesLink {
    margin-top: 25px;
  }
  .footer .tellUs {
    width: auto;
    max-width: 540px;
    padding: 70px 20px;
  }
  .footer .tellUs h2 {
    font-size: 40px;
    line-height: 49px;
  }
  .footer .tellUs .tellUsContent {
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer .tellUs .tellUsContent .tellUsInfo p {
    font-size: 16px;
  }
  .footer .tellUs .tellUsContent .tellUsInfo .dontLikeHide {
    display: none !important;
  }
  .footer .tellUs .tellUsContent .tellUsForm {
    margin-top: 50px;
  }
  .footer .tellUs .tellUsContent .tellUsForm .contactInfo {
    flex-wrap: wrap;
  }
  .footer .tellUs .tellUsContent .tellUsForm .contactInfo .input {
    width: min(100%, 335px);
  }
  .footer .tellUs .tellUsContent .tellUsForm .textareaWrapper {
    display: flex;
  }
  .footer .tellUs .tellUsContent .tellUsForm .textareaWrapper .input_textarea {
    width: min(100%, 335px);
  }
  .footer .tellUs .tellUsContent .dontLikeHide {
    display: block;
  }
  .footer .tellUs .tellUsContent .dontLikeHide h4 {
    margin-top: 50px;
  }
  .footer .footerContent {
    padding: 0 !important;
  }
  .footer .footerContent .footerContentWrapper {
    padding: 0px 20px;
    padding-top: 60px;
    padding-bottom: 30px;
    width: auto;
    max-width: 540px;
  }
  .footer .footerContent .footerContentWrapper .footerNav {
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .footer .footerContent .footerContentWrapper .footerNav .navsWrapper {
    flex-wrap: wrap;
  }
  .footer .footerContent .footerContentWrapper .footerNav .navsWrapper .logo {
    margin-right: 10px;
    margin-bottom: 60px;
    width: 100px;
    height: 42px;
  }
  .footer .footerContent .footerContentWrapper .footerNav .navsWrapper .navMenu2 {
    width: 210px;
    margin-left: 10px;
  }
  .footer .footerContent .footerContentWrapper .footerNav .navsWrapper .socialLinksContainer {
    display: none;
  }
  .footer .footerContent .footerContentWrapper .footerNav .navsWrapper .socialLinksContainerMobile {
    display: block;
    width: 175px;
    margin-left: 115px;
  }
  .footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .second {
    display: none;
  }
  .footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .first {
    width: 100%;
  }
  .footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .SliderButtonLeft {
    display: none;
  }
  .footer .footerContent .footerContentWrapper .latestInBlog .latestSlider .SliderButtonRight {
    display: none;
  }
  .footer .footerContent .footerContentWrapper .NavRectangles {
    display: flex;
  }
}
@media (max-width: 440px) {
  .footer .footerContent .footerContentWrapper .footerNav .navsWrapper .socialLinksContainerMobile {
    margin-left: 0px;
  }
}
